<html lang="en">
<%- include('./partials/head.ejs')  %>
<%- include('./partials/customernav.ejs')  %>

<body>
    <div style="overflow-x:auto;">
        <table>
          <tr>
            <th>ID </th>
            <th>Jobs</th>
          </tr>
          <% for (var i=0; i < result.length; i++) { %>
            <% if (result.length > 0) { %>

           <tr>
            <td> <%- JSON.stringify(result[i]._id)  %> </td>
            <td> <%- JSON.stringify(result[i].jobname)  %> </td>            
          </tr>      

          <% } else { %>
            <p>There are no jobs to display</p>
            <%  } %>
          <% } %>    

    
        </table>
      </div>

<%- include('./partials/footer.ejs')  %>
</body>
</html>